.page {
  width: 99%;
  height: 225px;
  background: #6fc1fd;
}
.header {
  width: 100%;
  margin-top: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  height: 53px;
}
.header__svg {
  margin-left: 40px;
}
.header__other {
  margin-right: 20px;
}
